:root{
    --roxo-claro: #6e439e;
    --roxo-escuro: #490894;

    --rosa-claro: #e0b8f7;
    --rosa-fundo: #f0ebf3;
    --fundo-pragmatico: #e3dee4;
}

body{
    background-color: var(--fundo-pragmatico);
}

#edit{
    justify-items: center;
}

main{
    background-color: var(--rosa-fundo);
    height: 100%;
    width: 80%;
    padding: 5%;
}

h1{
    text-align: center;
}

p{
    margin-top: 2.5vh;
    text-align: justify;
}

.bold{
    font-weight: bold;
}

#bibliografia{
    margin-top: 15vh;
}

#bibliografia h1{
    font-size: 2.5vw;
}

#bibliografia p{
    margin-bottom: 5vh;
    text-align: left;
}

.deitado{
    font-style: italic;
}

.livros{
    font-weight: bold;
    color: var(--roxo-claro);
}

ul h3{
    font-size: 2vw;

    margin: 0 0 3vh 0;
}

li{
    margin-bottom: 4vh;
}

ul li a{
    color: var(--roxo-escuro);
    font-weight: bolder;
}

footer{
    position: relative;

    width: 100%;

    bottom: 0px;
}

@media screen  and (max-width: 800px){
    header{
        top: 0px;
    }

    #edit{
        padding: 16.5vh 0px 2.5vh  0px;
    }
    #bibliografia h1{
        font-size: 3.5vw;
    }

    ul h3{
        font-size: 3vw;

        margin: 0 0 3vh 0;
    }

    footer{
        position: relative;
    }
}